:root {
  --c-background-400: #ffffff;
  --c-background-600: #fafafa;
  --c-background-700: #f7f7f7;

  --c-on-background-400: #151515;
  --c-on-background-200: #ebebeb;

  --c-secondary-400: #f4f4f4;
  --c-secondary-300: #ffffff;

  --c-on-secondary-400: #151515;

  --c-accent-500: #ff6d02;
  --c-accent-400: #fc8b3a;
  --c-accent-300: #faa365;
  --c-accent-250: #feecd6;
  --c-accent-200: #fffaf5;

  --c-on-accent-500: #0d0d0d;

  --c-success-900: #92ffa3;
}
