.lightColorTheme {
  --c-background-400: #ffffff;
  --c-background-700: #f7f7f7;

  --c-on-background-400: #151515;
  --c-on-background-200: #ebebeb;

  --c-secondary-400: #f4f4f4;
  --c-secondary-300: #ffffff;

  --c-on-secondary-400: #151515;

  --c-accent-500: #003787;
  --c-accent-300: #5a9cff;
  --c-accent-250: #c4d2fc;
  --c-accent-200: #f6f9ff;

  --c-on-accent-500: #0d0d0d;

  --c-success-900: #92ffa3;
}
