.page {
  position: relative;
  min-height: 100svh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  margin-top: var(--s-siblings);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--s-siblings);
}
