.userCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: var(--border-width-200) solid var(--c-on-background-200);
  border-radius: var(--radius);
  overflow: clip;

  .primaryInformation {
    display: flex;
    justify-content: start;
    align-items: start;
    flex: 1 0 auto;
    padding: var(--s-sides-inset-card);
    gap: 2rem;
    flex-direction: column;

    @mixin md {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .endSection {
      display: flex;
      gap: var(--s-siblings);
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      @mixin md {
        justify-content: unset;
        align-items: center;
        flex: 0 0 auto;
        width: unset;

        .labeledValue {
          text-align: end;
        }
      }
    }

    .showHideDetailBtn {
      display: flex;
      gap: var(--s-siblings-small);
      padding: 0.45rem;

      height: 3rem;
      width: 3rem;

      svg {
        transition: rotate var(--simple-transition-duration);
        width: 1.25rem;
        height: 1.25rem;
        rotate: 180deg;
      }
    }
  }

  .secondaryInformation {
    display: none;
    gap: var(--s-siblings);
    padding: var(--s-sides-inset-card);
    background-color: var(--c-accent-200);
    flex: 1 0 auto;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: start;

    @mixin lg {
      flex-direction: row;
      align-items: center;
    }
  }

  &.active {
    border: var(--border-width-200) solid var(--c-accent-250);

    .primaryInformation {
      .showHideDetailBtn {
        svg {
          rotate: 0deg;
        }
      }
    }

    .secondaryInformation {
      display: flex;
    }
  }
}
