.page {
  position: relative;
}

.contentWrapper {
  padding: 10rem 0;
  min-height: calc(100svh - var(--h-navbar));
  min-height: calc(100vh - var(--h-navbar));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subheading {
  --base-font-size: 1.2rem;

  font-size: var(--base-font-size);
  line-height: 121.5%;
  letter-spacing: 0.11531rem;
  color: var(--c-accent-500);

  @mixin lg {
    font-size: calc(var(--base-font-size) * 1.3);
  }
  @mixin xl {
    font-size: calc(var(--base-font-size) * 1.5);
  }
  @mixin xxl {
    font-size: calc(var(--base-font-size) * 1.8);
  }
}

.ctaWrapper {
  margin-top: 2rem;
  display: flex;
  gap: var(--s-siblings);
}
