.page {
  position: relative;
  min-height: 100svh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: var(--s-siblings-large);
  }
}

.searchBar {
  margin-bottom: var(--s-siblings);
}

.contentWrapper {
  padding: 10rem 0;
}

.filters {
  display: flex;
  gap: var(--s-siblings);
  justify-content: center;
  align-items: center;
  padding-top: var(--s-siblings);

  .btn {
    height: 3rem;
    gap: var(--s-siblings-small);

    svg {
      rotate: -90deg;
    }

    &.next {
      svg {
        rotate: 90deg;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--s-siblings);
}
